body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../stylesheets/album.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  color: white;
}

a {
  color: #00b7ff;
}

label {
  font-size: 20px;
}

textarea {
  width: 200px;
  height: 100px;
}

@media screen and (max-device-width: 667px) {
  body {
    font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

  label {
    font: 44px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
}
